.remark-slide-content {
/*  background-image: url(sticker_pln.png);*/
  background-size: 60px auto;
  background-position: 98% 98%;
}

.remark-code-line-highlighted {
  background-color: #ffff88;
}

.remark-slide-number {
  bottom: unset;
  top:12px;
}

/* Footnote */

.footnote {
  position: absolute;
  bottom: 1.2em;
  padding-right: 4.7em;
  font-size: 90%;
  z-index: 1;
}

/* Title slide */

.title-slide {
  background-image: url(sticker_pln.png);
	background-position: 95% 55%;
	background-size: 15%;
}
.title-slide .remark-slide-number {
  display: none;
}

/* Slide without logo */

.nologo {
  background-image: unset;
}

/* Slide without slide number*/

.noslidenumber .remark-slide-number {
  display: none;
}

/* Two-column layout */

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}
