.remark-slide-content {
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  background-image: url(img/sticker_pln.png);
  background-size: 60px auto;
  background-position: 98% 98%;
}

.remark-slide-content > h1:first-of-type {
  margin-top: 0px;
}

.remark-slide-content > h2:first-of-type {
  margin-top: 0px;
}

.remark-slide-content > h3:first-of-type {
  margin-top: 0px;
}

.remark-code-line-highlighted {
  background-color: #ffff88; /* Very light yellow */
}

.remark-slide-number {
  bottom: unset;
  top:12px;
}

a {
  color: #2b8cbe;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
    font-size: 1.2em;
    /*color: #ac357f;*/
}


/* Footnote */

.footnote {
  position: absolute;
  bottom: 1.2em;
  padding-right: 4.7em;
  font-size: 90%;
  z-index: 1;
}


/* Inverse */

.inverse {
  background-color: #357fac;
  color: #fff;
  text-shadow: black 0.05em 0.05em 0.1em;
  background-image: unset;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}
.inverse .remark-slide-number {
  display: none;
}

.inverse a {
  color: #ffffff;
  text-decoration: none;
  transition: all .2s ease-in-out;
}


/* Title slide */

.title-slide {
  background-color: #fff;
  background-image: url(sticker_pln.png);
	background-position: 50% 55%;
	background-size: 30%;
	color: #2b8cbe;
}
.title-slide .remark-slide-number {
  display: none;
}
.title-slide h1, .title-slide h2, .title-slide h3 {
  color: rgb(53, 127, 172);
  text-shadow: #a6bddb 0.08em 0.08em 0.08em;
}


/* Slide without logo */

.nologo {
  background-image: unset;
}

/* Slide without slide number*/

.noslidenumber .remark-slide-number {
  display: none;
}

/* Two-column layout */

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}

/* Miscellaneous */

img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

